html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  font-style: normal;
  text-rendering: geometricPrecision;
  line-height: 1.3;
  color: #000;
  background-color: #fff;
}
body.hidden {
  overflow: hidden;
}

input,
textarea,
select,
button {
  outline: none;
  font-family: "Roboto", sans-serif;
  text-rendering: geometricPrecision;
  border: 0;
  color: #000;
  font-size: 1rem;
  background-color: transparent;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: unset;
  color: inherit;
}

a:hover,
a:active,
a:focus {
  outline: 0;
  color: inherit;
  color: #006699;
}

.link-decoration:hover {
  text-decoration: underline;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.mx-auto {
  margin: auto;
}

/*===========================================================================*/
.font-arial {
  font-family: "Arial", sans-serif;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
}

/*===========================================================================*/
.w-1110 {
  max-width: 1110px;
  margin: 0 auto;
}

.w-860 {
  width: 860px;
  margin: 0 auto;
}

.w-500 {
  max-width: 500px;
  margin: 0 auto;
}

.w-full {
  width: 100%;
}

.w-30 {
  width: 30%;
}

.w-35 {
  width: 35%;
}

.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-65 {
  width: 65%;
}

.w-70 {
  width: 70%;
}

/*=================================================================*/
.d-3xl-none {
  display: none;
}

.d-3xl-block {
  display: block;
}

.d-3xl-flex {
  display: flex;
}

.d-3xl-grid {
  display: grid;
}

.d-3xl-inline {
  display: inline-block;
}

.d-3xl-inline-flex {
  display: inline-flex;
}

/*=================================================================*/
.btn {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  background-color: transparent;
  color: #333;
  outline: none;
}

/*===========================================================================*/
.fs-10 {
  font-size: 0.625rem;
}

.fs-11 {
  font-size: 0.6875rem;
}

.fs-12 {
  font-size: 0.75rem;
}

.fs-13 {
  font-size: 0.8125rem;
}

.fs-14 {
  font-size: 0.875rem;
}

.fs-15 {
  font-size: 0.9375rem;
}

.fs-16 {
  font-size: 1rem;
}

.fs-17 {
  font-size: 1.0625rem;
}

.fs-18 {
  font-size: 1.125rem;
}

.fs-20 {
  font-size: 1.25rem;
}

.fs-21 {
  font-size: 1.3125rem;
}

.fs-22 {
  font-size: 1.375rem;
}

.fs-23 {
  font-size: 1.4375rem;
}

.fs-24 {
  font-size: 1.5rem;
}

.fs-25 {
  font-size: 1.5625rem;
}

.fs-26 {
  font-size: 1.625rem;
}

.fs-28 {
  font-size: 1.75rem;
}

.fs-30 {
  font-size: 1.875rem;
}

.fs-32 {
  font-size: 2rem;
}

.fs-36 {
  font-size: 2.25rem;
}

.fs-40 {
  font-size: 2.5rem;
}

.fs-48 {
  font-size: 3rem;
}

/*=================================================================*/
.image-wrapper {
  position: relative;
  display: block;
  padding-bottom: 60%;
}

.image-wrapper-full {
  position: relative;
  display: block;
  padding-bottom: 100%;
}

.image-wrapper img,
.image-wrapper-full img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/*=================================================================*/
.text-black {
  color: #000;
}

.text-white {
  color: #fff;
}

.text-gray-11 {
  color: #111;
}

.text-gray-33 {
  color: #333;
}

.text-gray-44 {
  color: #444;
}

.text-gray-55 {
  color: #555;
}

.text-gray-66 {
  color: #666;
}

.text-gray-99 {
  color: #999;
}

.text-red-ef {
  color: #ef172c;
}

.text-blue-069 {
  color: #006699;
}

/*=================================================================*/
.bg-white {
  background-color: #fff;
}

.bg-black {
  background-color: #000;
}

.bg-transparent {
  background-color: transparent;
}

.bg-gray-f5 {
  background-color: #f5f5f5;
}

.bg-gray-f7 {
  background-color: #f7f8f9;
}

.bg-red-ef {
  background-color: #ef172c;
}

/*=================================================================*/
.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

/*=================================================================*/
.pt-4 {
  padding-top: 0.25rem;
}

.pb-4 {
  padding-bottom: 0.25rem;
}

.pl-4 {
  padding-left: 0.25rem;
}

.pr-4 {
  padding-right: 0.25rem;
}

.py-4 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.px-4 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.p-4 {
  padding: 0.25rem;
}

.mt-4 {
  margin-top: 0.25rem;
}

.mb-4 {
  margin-bottom: 0.25rem;
}

.ml-4 {
  margin-left: 0.25rem;
}

.mr-4 {
  margin-right: 0.25rem;
}

.my-4 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.mx-4 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.m-4 {
  margin: 0.25rem;
}

/*=================================================================*/
.pt-8 {
  padding-top: 0.5rem;
}

.pb-8 {
  padding-bottom: 0.5rem;
}

.pl-8 {
  padding-left: 0.5rem;
}

.pr-8 {
  padding-right: 0.5rem;
}

.py-8 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.px-8 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.p-8 {
  padding: 0.5rem;
}

.mt-8 {
  margin-top: 0.5rem;
}

.mb-8 {
  margin-bottom: 0.5rem;
}

.ml-8 {
  margin-left: 0.5rem;
}

.mr-8 {
  margin-right: 0.5rem;
}

.my-8 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.mx-8 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.m-8 {
  margin: 0.5rem;
}

/*=================================================================*/
.pt-10 {
  padding-top: 0.625rem;
}

.pb-10 {
  padding-bottom: 0.625rem;
}

.pl-10 {
  padding-left: 0.625rem;
}

.pr-10 {
  padding-right: 0.625rem;
}

.py-10 {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.px-10 {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.p-10 {
  padding: 0.625rem;
}

.mt-10 {
  margin-top: 0.625rem;
}

.mb-10 {
  margin-bottom: 0.625rem;
}

.ml-10 {
  margin-left: 0.625rem;
}

.mr-10 {
  margin-right: 0.625rem;
}

.my-10 {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}

.mx-10 {
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}

.m-10 {
  margin: 0.625rem;
}

/*=================================================================*/
.pt-12 {
  padding-top: 0.75rem;
}

.pb-12 {
  padding-bottom: 0.75rem;
}

.pl-12 {
  padding-left: 0.75rem;
}

.pr-12 {
  padding-right: 0.75rem;
}

.py-12 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.px-12 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.p-12 {
  padding: 0.75rem;
}

.mt-12 {
  margin-top: 0.75rem;
}

.mb-12 {
  margin-bottom: 0.75rem;
}

.ml-12 {
  margin-left: 0.75rem;
}

.mr-12 {
  margin-right: 0.75rem;
}

.my-12 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.mx-12 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.m-12 {
  margin: 0.75rem;
}

/*=================================================================*/
.pt-15 {
  padding-top: 0.9375rem;
}

.pb-15 {
  padding-bottom: 0.9375rem;
}

.pl-15 {
  padding-left: 0.9375rem;
}

.pr-15 {
  padding-right: 0.9375rem;
}

.py-15 {
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
}

.px-15 {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.p-15 {
  padding: 0.9375rem;
}

.mt-15 {
  margin-top: 0.9375rem;
}

.mb-15 {
  margin-bottom: 0.9375rem;
}

.ml-15 {
  margin-left: 0.9375rem;
}

.mr-15 {
  margin-right: 0.9375rem;
}

.my-15 {
  margin-top: 0.9375rem;
  margin-bottom: 0.9375rem;
}

.mx-15 {
  margin-left: 0.9375rem;
  margin-right: 0.9375rem;
}

.m-15 {
  margin: 0.9375rem;
}

/*=================================================================*/
.pt-16 {
  padding-top: 1rem;
}

.pb-16 {
  padding-bottom: 1rem;
}

.pl-16 {
  padding-left: 1rem;
}

.pr-16 {
  padding-right: 1rem;
}

.py-16 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.px-16 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.p-16 {
  padding: 1rem;
}

.mt-16 {
  margin-top: 1rem;
}

.mb-16 {
  margin-bottom: 1rem;
}

.ml-16 {
  margin-left: 1rem;
}

.mr-16 {
  margin-right: 1rem;
}

.my-16 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mx-16 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.m-16 {
  margin: 1rem;
}

/*=================================================================*/
.pt-20 {
  padding-top: 1.25rem;
}

.pb-20 {
  padding-bottom: 1.25rem;
}

.pl-20 {
  padding-left: 1.25rem;
}

.pr-20 {
  padding-right: 1.25rem;
}

.py-20 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.px-20 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.p-20 {
  padding: 1.25rem;
}

.mt-20 {
  margin-top: 1.25rem;
}

.mb-20 {
  margin-bottom: 1.25rem;
}

.ml-20 {
  margin-left: 1.25rem;
}

.mr-20 {
  margin-right: 1.25rem;
}

.my-20 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.mx-20 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.m-20 {
  margin: 1.25rem;
}

/*=================================================================*/
.pt-24 {
  padding-top: 1.5rem;
}

.pb-24 {
  padding-bottom: 1.5rem;
}

.pl-24 {
  padding-left: 1.5rem;
}

.pr-24 {
  padding-right: 1.5rem;
}

.py-24 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.px-24 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.p-24 {
  padding: 1.5rem;
}

.mt-24 {
  margin-top: 1.5rem;
}

.mb-24 {
  margin-bottom: 1.5rem;
}

.ml-24 {
  margin-left: 1.5rem;
}

.mr-24 {
  margin-right: 1.5rem;
}

.my-24 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.mx-24 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.m-24 {
  margin: 1.5rem;
}

/*=================================================================*/
.pt-30 {
  padding-top: 1.875rem;
}

.pb-30 {
  padding-bottom: 1.875rem;
}

.pl-30 {
  padding-left: 1.875rem;
}

.pr-30 {
  padding-right: 1.875rem;
}

.py-30 {
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}

.px-30 {
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}

.p-30 {
  padding: 1.875rem;
}

.mt-30 {
  margin-top: 1.875rem;
}

.mb-30 {
  margin-bottom: 1.875rem;
}

.ml-30 {
  margin-left: 1.875rem;
}

.mr-30 {
  margin-right: 1.875rem;
}

.my-30 {
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
}

.mx-30 {
  margin-left: 1.875rem;
  margin-right: 1.875rem;
}

.m-30 {
  margin: 1.875rem;
}

/*=================================================================*/
.pt-40 {
  padding-top: 2.5rem;
}

.pb-40 {
  padding-bottom: 2.5rem;
}

.pl-40 {
  padding-left: 2.5rem;
}

.pr-40 {
  padding-right: 2.5rem;
}

.py-40 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.px-40 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.p-40 {
  padding: 2.5rem;
}

.mt-40 {
  margin-top: 2.5rem;
}

.mb-40 {
  margin-bottom: 2.5rem;
}

.ml-40 {
  margin-left: 2.5rem;
}

.mr-40 {
  margin-right: 2.5rem;
}

.my-40 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.mx-40 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.m-40 {
  margin: 2.5rem;
}

/*=================================================================*/
.border-999 {
  border-radius: 999px;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -ms-border-radius: 999px;
  -o-border-radius: 999px;
}

.border-full {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.border-4 {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  overflow: hidden;
}

/*=================================================================*/
.fix-text {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fix-text2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fix-text3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fix-text4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*=================================================================*/
.lh-1 {
  line-height: 1;
}

.lh-15 {
  line-height: 0.9375rem;
}

.lh-16 {
  line-height: 1rem;
}

.lh-19 {
  line-height: 1.1875rem;
}

.lh-22 {
  line-height: 1.375rem;
}

.lh-24 {
  line-height: 1.5rem;
}

.lh-26 {
  line-height: 1.625rem;
}

.lh-28 {
  line-height: 1.75rem;
}

.lh-30 {
  line-height: 1.875rem;
}

.lh-32 {
  line-height: 2rem;
}

.lh-34 {
  line-height: 2.125rem;
}

.lh-40 {
  line-height: 2.5rem;
}

.lh-130 {
  line-height: 130%;
}

.lh-140 {
  line-height: 140%;
}

.lh-150 {
  line-height: 150%;
}

.lh-160 {
  line-height: 160%;
}

/*=================================================================*/
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

/*=================================================================*/
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

/*=================================================================*/
.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-around {
  justify-content: space-around;
}

.flex-0 {
  flex-shrink: 0;
}

.flex-1 {
  flex: 1;
}

/*=================================================================*/
.col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.col-4 {
  grid-template-columns: repeat(4, 1fr);
}

.col-5 {
  grid-template-columns: repeat(5, 1fr);
}

/*=================================================================*/
.gap-8 {
  grid-gap: 0.5rem;
  gap: 0.5rem;
}

.gap-16 {
  grid-gap: 1rem;
  gap: 1rem;
}

.gap-20 {
  grid-gap: 1.25rem;
  gap: 1.25rem;
}

.gap-24 {
  grid-gap: 1.5rem;
  gap: 1.5rem;
}

.gap-25 {
  grid-gap: 1.5625rem;
  gap: 1.5625rem;
}

.gap-30 {
  grid-gap: 1.875rem;
  gap: 1.875rem;
}

/*=================================================================*/
.h-full {
  height: 100%;
}

.h-32 {
  height: 2rem;
}

.h-36 {
  height: 2.25rem;
}

.h-40 {
  height: 2.5rem;
}

.h-48 {
  height: 3rem;
}

.h-56 {
  height: 3.5rem;
}

/*=================================================================*/
.max-w-fit {
  max-width: fit-content;
}

/*=================================================================*/
.tracking-0125 {
  letter-spacing: 0.0125em;
}

/*=================================================================*/
.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}

.z-30 {
  z-index: 30;
}

.z-40 {
  z-index: 40;
}

.z-50 {
  z-index: 50;
}

.z-100 {
  z-index: 100;
}

/*=================================================================*/
.transition {
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1);
}

/*=================================================================*/
.pointer {
  cursor: pointer;
}

/*=================================================================*/
.uppercase {
  text-transform: uppercase;
}

.shadow {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.w-wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.over-hidden {
  overflow: hidden;
}

.border-e1 {
  border-bottom: 1px solid #e1e1e1;
}

.border-dotted-069 {
  border-bottom: 1px dotted #006699;
}

.scroll-primary::-webkit-scrollbar {
  width: 1px;
}

.scroll-primary::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.scroll-primary::-webkit-scrollbar-thumb {
  background: #bbb;
}

.scroll-primary::-webkit-scrollbar-thumb:hover {
  background: #999;
}

/*=================================================================*/
.icon-12 {
  width: 12px;
  height: auto;
}

.icon-16 {
  width: 16px;
  height: auto;
}

.header-top {
  padding-top: 8px;
  padding-bottom: 8px;
}
.header-center .news-top {
  max-width: 480px;
  width: 100%;
  padding-left: 20px;
}
.header-center .news-top__title {
  margin-left: 20px;
  margin-bottom: 10px;
  position: relative;
  display: inline-block;
}
.header-center .news-top__title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #ef172c;
}
.header-center .news-top__list {
  height: 154px;
  overflow-y: scroll;
  direction: rtl;
  padding-left: 20px;
}
.header-center .news-top__item {
  text-align: left;
  direction: ltr;
  border-bottom: 1px solid #ebebeb;
  padding: 2px 0;
}
.header-center .news-top__item:last-child {
  border-bottom: none;
}
.header.sticky .menu-pc,
.header.sticky .menu-mb {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
}

.logo-img {
  width: 247px;
  height: auto;
}

.navbar {
  position: relative;
}
.navbar-wrapper {
  width: 100%;
}
.navbar-wrapper .navbar-item {
  position: relative;
}
.navbar-wrapper .navbar-item.active {
  color: #fff;
  background-color: #606161;
}
.navbar-wrapper .navbar-item:last-child {
  margin-left: auto;
}
.navbar-wrapper .navbar-item:hover {
  background-color: #d30014;
  color: #fff;
}
.navbar-wrapper .navbar-item.active > a {
  color: #fff;
}
.navbar-wrapper .navbar-item .title {
  color: #fff;
}
.navbar-wrapper .navbar-item .title .text {
  transform: translateY(1px);
}
.navbar-wrapper .navbar-item a {
  padding: 12px 15px;
  display: flex;
}
.navbar-wrapper .navbar-item .navbar-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  min-width: 200px;
  background-color: white;
  z-index: 100;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  display: none;
}
.navbar-wrapper .navbar-item .navbar-dropdown__item:hover a {
  color: #ffffff;
  background-color: #c5161d;
}
.navbar-wrapper .navbar-item:hover .navbar-dropdown {
  display: block;
}

.navbar-mb__link {
  display: inline-block;
}
.navbar-mb .icon-home {
  width: 20px;
  height: auto;
}
.navbar-mb__item:last-child {
  margin-left: auto;
}

.navbar-footer .navbar-item {
  font-size: 12px;
  line-height: 37px;
  font-weight: 700;
  float: left;
  padding: 0 15px;
  position: relative;
}
.navbar-footer .navbar-item.active {
  background-color: #606161;
  color: #fff;
}
.navbar-footer .navbar-item:hover {
  background-color: #606161;
  color: #fff;
}
.navbar-footer .navbar-item:hover a {
  color: #fff;
}
.navbar-footer .navbar-item::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.search-pc {
  position: relative;
}
.search-pc__icon {
  padding: 12px 15px;
  cursor: pointer;
}
.search-pc__icon:hover {
  background-color: #c5161d;
}
.search-pc__content {
  position: absolute;
  top: 2px;
  right: 46px;
  opacity: 0;
  visibility: hidden;
  width: 200px;
  height: calc(100% - 4px);
  background-color: #fff;
}
.search-pc__content.active {
  opacity: 1;
  visibility: visible;
}
.search-pc__content form {
  width: 100%;
  height: 100%;
}
.search-pc__content input {
  color: currentColor;
  font-size: 14px;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background-color: transparent;
  border: none;
  outline: none;
}

.search-pc-secondary {
  padding: 0.625rem;
  background-color: #efefef;
}
.search-pc-secondary .input-search {
  border: 1px solid #e5e5e5;
  border-right: 0;
  flex: 1;
  height: 40px;
  padding: 10px 15px;
  background-color: #fff;
}
.search-pc-secondary .btn-search {
  background-color: #efefef;
  border: 1px solid #c8c8c8;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-pc-secondary .btn-search:hover {
  background-color: #e1e1e1;
}

.menu-mb .search-mb__icon {
  display: inline-block;
  padding: 10px;
}
.menu-mb .search-mb__icon img {
  width: 20px;
  height: auto;
}
.sub-menu .icon-bar img {
  width: 20px;
  height: auto;
}
.sub-menu__content {
  position: fixed;
  left: 0;
  top: 0;
  width: min(400px, 100vw);
  height: 100%;
  background-color: #fff;
  z-index: 100;
  box-shadow: 0px 11px 15px -7px rgba(var(--ipt-baseAlt-rgb), 0.2), 0px 24px 38px 3px rgba(var(--ipt-baseAlt-rgb), 0.14), 0px 9px 46px 8px rgba(var(--ipt-baseAlt-rgb), 0.12);
  transform: translateX(-100%);
  transition: all 0.2s ease;
}
.sub-menu__close {
  width: 3rem;
  height: 2.5rem;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sub-menu__container {
  height: calc(100% - 200px);
  overflow: auto;
}
.sub-menu__item {
  border-top: 1px solid #e1e1e1;
}
.sub-menu__item:nth-child(odd) {
  padding-right: 8px;
}
.sub-menu__item:nth-child(even) {
  padding-left: 8px;
}
.sub-menu.active .sub-menu__content {
  transform: translate(0);
}
.sub-menu.active .overlay {
  opacity: 1;
  visibility: visible;
  z-index: 99;
}

.heading-sub__arrow img {
  transition: all 0.2s ease 0s;
  transform: rotate(90deg);
}

.list-sub {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.item-sub__link {
  display: flex;
  padding: 0.5rem 1rem 0.5rem 3.125rem;
  color: #fff;
}
.item-sub:last-child .item-sub__link {
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
}

.navbar-menu-mb {
  background-color: #fff;
}

.navbar-mb {
  overflow-x: scroll;
  white-space: nowrap;
  flex-wrap: nowrap;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.navbar-mb::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.navbar-mb::-webkit-scrollbar-track {
  background: transparent;
}
.navbar-mb::-webkit-scrollbar-thumb {
  background: transparent;
}
.navbar-mb::-webkit-scrollbar-thumb:hover {
  background: transparent;
}
.navbar-mb .navbar-item + .navbar-item {
  margin-left: 1.25rem;
}

.navbar-scroll-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 2rem;
  height: 100%;
  background: linear-gradient(270deg, #f5f5f5 28.12%, #ffffff50 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: fixed;
  inset: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease;
  will-change: opacity;
}

.header-search-mb__form {
  background-color: #fff;
  height: 60px;
  z-index: 50;
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  display: none;
}
.header-search-mb__form.active {
  top: 42px;
  display: block;
}

.header-search-input {
  padding-right: 3.5rem;
}
.header-search-input::placeholder {
  color: #333;
}

.header-search-btn {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.main {
  background-color: #f7f8f9;
}

.box-primary .box-container {
  display: flex;
  gap: 24px;
}
.box-primary .left {
  width: calc(100% - 324px - 24px);
}
.box-primary .right {
  flex-shrink: 0;
  width: 324px;
  padding-left: 24px;
  border-left: 1px solid #e0e0e0;
}

.ads-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading-two {
  display: inline-block;
  border-bottom: 1px solid #ee700c;
}

.heading-three {
  padding-bottom: 4px;
  border-bottom: 1px solid red;
}

.border-third-dotted div {
  border-bottom: 1px dotted #e1e1e1;
  margin-bottom: 2px;
}

.breadcrumb-primary {
  padding-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
}
.breadcrumb-primary__slide {
  max-width: 792px;
}
.breadcrumb-primary .swiper-slide {
  width: auto !important;
}
.breadcrumb-primary .swiper-slide:last-child .breadcrumb-primary__item::before {
  content: none;
}
.breadcrumb-primary .swiper-button-next:after,
.breadcrumb-primary .swiper-button-prev:after {
  font-size: 12px;
}
.breadcrumb-primary .swiper-button-next,
.breadcrumb-primary .swiper-rtl .swiper-button-prev {
  right: 0;
  left: auto;
}
.breadcrumb-primary .swiper-button-next.swiper-button-disabled,
.breadcrumb-primary .swiper-button-prev.swiper-button-disabled {
  opacity: 0;
  cursor: auto;
}
.breadcrumb-primary__item {
  background-color: #e5e5e5;
  border-radius: 3px;
  padding: 4px 10px;
  width: auto;
  display: inline-block;
  position: relative;
}
.breadcrumb-primary__item::before {
  content: "/";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -10px;
  color: #bdbdbd;
  font-size: 15px;
}
.breadcrumb-primary__link {
  color: #737373;
}

.main-primary__top .article-large .article-content {
  order: 1;
}
.main-primary__top .article-large .article-img {
  order: 2;
}

.many-readers__left {
  background-color: #e1e1e1;
}
.many-readers__left .article {
  border-bottom: 1px solid #acacac;
}
.many-readers__left .article:last-child {
  border-bottom: none;
}
.many-readers__right .article:first-child {
  padding-top: 0;
}
.many-readers__right .article:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.box-focus__container .swiper-horizontal > .swiper-pagination-bullets, .box-focus__container .swiper-pagination-bullets.swiper-pagination-horizontal, .box-focus__container .swiper-pagination-custom, .box-focus__container .swiper-pagination-fraction {
  bottom: auto;
  top: -40px;
  left: auto;
  width: auto;
  right: 0;
}
.box-focus__container .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: auto;
}
.box-focus__container .article {
  flex-grow: 1;
}
.box-focus .article {
  background-color: #e1e1e1;
}

.see-more .btn-viewmore {
  display: inline-block;
  width: 148px;
  height: 42px;
  position: relative;
  border: 1px solid #dfdfdf;
  text-transform: uppercase;
  border-radius: 2px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-box-shadow: 3px 4px #dedfe0;
  box-shadow: 3px 4px #dedfe0;
}
.see-more .btn-viewmore:hover {
  -webkit-box-shadow: 3px 4px #ccc;
  box-shadow: 3px 4px #ccc;
}
.see-more .txt {
  font-size: 12px;
}
.see-more .icon {
  width: 14px;
  height: auto;
}

.box-one {
  background-color: #f5f5f5;
  border: 1px solid #ededed;
  border-radius: 5px;
}
.box-one .article:first-child {
  padding-top: 0;
}
.box-one .article:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.box-two {
  background-color: #f5f5f5;
  border: 1px solid #ededed;
  border-radius: 5px;
}
.box-two__content .item:nth-child(even) {
  padding-left: 5px;
}
.box-two__content .item:nth-child(odd) {
  padding-right: 5px;
}
.box-two__content .item .icon {
  width: 24px;
  height: auto;
  margin-right: 10px;
}

table {
  border-collapse: collapse;
  display: table;
  padding: 5px;
  vertical-align: top;
  line-height: 1.4;
  width: 100%;
  border: 0;
}

.box-three {
  background-color: #f5f5f5;
  border: 1px solid #ededed;
  border-radius: 5px;
  position: relative;
}
.box-three__content .text-bold {
  font-weight: bold;
}
.box-three__content .bx-gold-item {
  height: 250px;
  overflow-y: scroll;
  scrollbar-width: thin;
}
.box-three__content .bx-gold-item .table-gold {
  border: 1px solid #eee;
  color: inherit;
  border-collapse: collapse;
  text-align: left;
}
.box-three__content .bx-gold-item .table-gold th {
  white-space: nowrap;
  font-weight: bold;
}
.box-three__content .bx-gold-item .table-gold td, .box-three__content .bx-gold-item .table-gold th {
  padding: 5px;
  vertical-align: middle;
  border: 1px solid #eee;
  font-size: 12px;
}
.box-three__content .bx-gold-item .table-gold.table-striped > tbody > tr:nth-of-type(odd) {
  background: #f8f9fa;
  color: inherit;
}
.box-three__content .bx-gold-item .up_rate {
  font-size: 12px;
  color: #1f8350;
}
.box-three__content .bx-gold-item .down_rate {
  font-size: 12px;
  color: #ef172c;
}
.box-three__content .bx-exchange-rate-item {
  width: 100%;
  height: 250px;
  overflow-y: scroll;
  scrollbar-width: thin;
}
.box-three__content .bx-exchange-rate-item .table-exchange-rate {
  border: 1px solid #eee;
  color: inherit;
  border-collapse: collapse;
  text-align: left;
}
.box-three__content .bx-exchange-rate-item .table-exchange-rate td, .box-three__content .bx-exchange-rate-item .table-exchange-rate th {
  padding: 5px 3px;
  vertical-align: middle;
  border: 1px solid #eee;
  font-size: 11px;
  text-align: center;
}
.box-three__content .bx-exchange-rate-item .table-exchange-rate th {
  font-size: 12px;
  font-weight: bold;
}
.box-three__content .bx-exchange-rate-item .table-exchange-rate .table-striped > tbody > tr:nth-of-type(odd) {
  background: #f8f9fa;
  color: inherit;
}
.box-three__content .bx-exchange-rate-item .table-exchange-rate tr td:first-child {
  font-weight: 700;
}
.box-three__content .bx-exchange-rate-item .table-exchange-rate .text-right {
  text-align: right;
}
.box-three .swiper-button-next,
.box-three .swiper-button-prev {
  width: 25px;
  height: 25px;
  margin-top: 0;
  background: #ebebeb;
  border-radius: 50%;
  border-radius: 2px;
  color: #999;
  transform: translateY(-50%);
}
.box-three .swiper-button-next:after,
.box-three .swiper-button-prev:after {
  font-size: 12px;
}
.box-three .swiper-button-next.swiper-button-disabled,
.box-three .swiper-button-prev.swiper-button-disabled {
  opacity: 1;
  cursor: auto;
  pointer-events: none;
  background: #ebebeb;
}
.box-three .swiper-button-next,
.box-three .swiper-rtl .swiper-button-prev {
  right: 15px;
  left: auto;
  top: 24px;
}
.box-three .swiper-button-prev,
.box-three .swiper-rtl .swiper-button-next {
  left: auto;
  right: 50px;
  top: 24px;
}

.box-four {
  background-color: #f5f5f5;
  border: 1px solid #ededed;
  border-radius: 5px;
  position: relative;
}
.box-four__content .widget-content.scroll {
  overflow-y: scroll;
  scrollbar-width: thin;
}
.box-four__content .widget-content.scroll::-webkit-scrollbar {
  width: 3px;
}
.box-four__content .widget-content.scroll::-webkit-scrollbar-thumb {
  background: #888;
}
.box-four__content table {
  border-collapse: collapse;
  width: 100%;
}
.box-four__content .world-stock-item {
  border-top: 1px solid #e9e9e9;
}
.box-four__content .world-stock-item:first-child {
  border-top: none;
}
.box-four__content td {
  padding: 10px 0;
}
.box-four__content td > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.box-four__content .world-stock-item-head {
  font-size: 12px;
  margin-bottom: 3px;
  font-weight: 700;
}
.box-four__content .world-stock-date {
  background: url("../images/icon-clock.png") left 0 no-repeat;
  padding-left: 20px;
  color: #999;
  font-weight: normal;
  font-size: 12px;
}
.box-four__content .world-stock-date + span {
  font-size: 12px;
  font-weight: normal;
}
.box-four__content .percent-change .symbol_green ~ * {
  color: #2be72c;
}
.box-four__content .percent-change .symbol_red ~ * {
  color: #f33;
}
.box-four__content .widget-note-small {
  font-size: 12px;
  color: #999;
  text-align: right;
}

.swiper-pagination-bullet-active {
  background: #ef172c;
}

.main-bottom {
  background-color: #f4f4f4;
  height: 17px;
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
}

.breadcrumb {
  margin-bottom: 2px;
  border-bottom: 1px solid #e1e1e1;
  background-color: #f4f4f4;
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  white-space: nowrap;
}
.breadcrumb-link {
  position: relative;
  display: inline-block;
  padding: 10px;
}
.breadcrumb-link::before {
  content: "/";
  position: absolute;
  right: 0;
}
.breadcrumb-item:first-child .breadcrumb-link {
  margin-left: -10px;
}
.breadcrumb-item:last-child .breadcrumb-link::before {
  content: none;
}

.multimedia-page__container {
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -10px;
}
.multimedia-page__container .article {
  padding: 10px;
}
.multimedia-page__container .article .image-wrapper::before {
  content: "";
  background-image: url("../images/icon-play.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 24px;
  height: 30px;
  bottom: 5px;
  left: 10px;
  z-index: 2;
}

.topic-page__list .article {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #ccc), color-stop(50%, #ffffff00)) 0 0/1px 4px repeat-y;
  background: linear-gradient(to bottom, #ccc 50%, #ffffff00 50%) 0 0/1px 4px repeat-y;
  position: relative;
  padding-left: 20px;
  padding-bottom: 22px;
}
.topic-page__list .article:last-child {
  background: 0 0;
}
.topic-page__list .article::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #0372aa;
  position: absolute;
  top: -5px;
  left: -4.5px;
  border-radius: 50%;
}
.topic-page__list .article::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

.detail-primary__container {
  display: flex;
  gap: 24px;
}
.detail-primary__left {
  width: calc(100% - 324px);
  padding-right: 24px;
  border-right: 1px solid #e0e0e0;
}
.detail-primary__right {
  width: 300px;
}

.social-sticky__wrapper {
  position: sticky;
  top: 20%;
}
.social-sticky .social-link {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
}
.social-sticky .social-fb {
  background-color: #3a5998;
}
.social-sticky .social-twitter {
  background-color: #55acee;
}
.social-sticky .social-ytb {
  background-color: #f61c0d;
}
.social-sticky .social-print {
  background-color: #9b9b9b;
}

.detail-title {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.detail-content {
  padding-left: 24px;
}
.detail-content figure {
  margin-bottom: 1.25rem;
}
.detail-content figure img {
  width: 100%;
  height: auto !important;
  margin: auto;
}
.detail-content figure figcaption {
  background: #f7f7f7;
  padding: 0.625rem 0.9375rem;
  font-size: 1rem;
  display: block;
  margin: 0 auto;
  max-width: 100%;
  line-height: 1.25rem;
  color: #555;
}
.detail-content figure figcaption em {
  font-style: italic;
}
.detail-content p a {
  color: #00f;
  font-style: italic;
}
.detail-content p a:hover {
  text-decoration: underline;
}
.detail-content p, .detail-content li {
  font-size: 17px;
  margin-bottom: 15px;
  line-height: 150%;
  word-break: break-word;
}
.detail-content ul {
  padding-left: 30px;
}
.detail-content ul li {
  list-style: disc;
}
.detail-content > h2 {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 15px;
  color: #333;
}
.detail-content > h3 {
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 15px;
  color: #333;
}
.detail-content > h4 {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 15px;
  color: #333;
}
.detail-content > h5 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 15px;
  color: #333;
}
.detail-content > h6 {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 15px;
  color: #333;
}
.detail-content blockquote {
  background-color: #f4f4f4;
  padding: 18px 15px;
  margin-bottom: 1.25rem;
}
.detail-content blockquote p:last-child {
  margin-bottom: 0;
}

.detail-meta {
  flex-wrap: wrap;
}
.detail-meta .author {
  padding-right: 8px;
  margin-right: 8px;
  position: relative;
}
.detail-meta .author::before {
  position: absolute;
  content: "";
  right: 0;
  top: 50%;
  width: 1px;
  height: 10px;
  transform: translateY(-50%);
  background-color: #a7a7a7;
}
.detail-meta .author .icon {
  transform: translateY(-2px);
}
.detail-meta .time-public {
  color: #a7a7a7;
  padding-right: 8px;
  margin-right: 8px;
  position: relative;
}
.detail-meta .time-public::before {
  position: absolute;
  content: "";
  right: 0;
  top: 50%;
  width: 1px;
  height: 10px;
  transform: translateY(-50%);
  background-color: #a7a7a7;
}
.detail-meta .time-public .time {
  display: block;
  padding-right: 8px;
  margin-right: 8px;
  position: relative;
}
.detail-meta .time-public .time::before {
  position: absolute;
  content: "";
  right: 0;
  top: 50%;
  width: 1px;
  height: 10px;
  transform: translateY(-50%);
  background-color: #a7a7a7;
}
.detail-meta .time-public .icon {
  transform: translateY(-1px);
}
.detail-meta .share a {
  background: #1877f2;
  color: #fff;
  padding: 4px 8px;
  border-radius: 3px;
  display: inline-block;
}
.detail-meta .follow-page {
  color: #f26522;
}
.detail-meta .follow-page .icon {
  width: 90px;
  height: auto;
}

.share-mb .share-twitter a {
  background: #1b95e0;
  color: #fff;
  padding: 4px 8px;
  border-radius: 3px;
}
.share-mb .share-twitter a .icon {
  width: 14px;
  height: auto;
  margin-right: 2px;
}
.share-mb .share-fb a {
  background: #1877f2;
  color: #fff;
  padding: 4px 8px;
  border-radius: 3px;
  display: inline-block;
}

.post-source, .video-source {
  font-style: italic;
  font-size: 14px;
  color: #aaa;
}

.post-source {
  text-align: right;
}
.post-source .link-wrapper {
  color: #333;
  background: #ebebeb;
  border-radius: 20px;
  display: inline-block;
  padding: 8px 15px 8px 15px;
  position: relative;
}
.post-source .link-wrapper:hover .full-url {
  opacity: 100;
  visibility: visible;
}
.post-source .short-url {
  cursor: pointer;
  font: 600 12px/14px Arial;
}
.post-source .short-url .fa-external-link-alt {
  color: #999;
}
.post-source .full-url {
  position: absolute;
  width: 300px;
  text-align: left;
  bottom: calc(100% + 10px);
  right: 20px;
  background-color: #333;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  visibility: hidden;
  -webkit-transition: opacity 0.5s, visibility 0.5s;
  transition: opacity 0.5s, visibility 0.5s;
  opacity: 0;
}
.post-source .full-url .link {
  font: normal 11px/15px Arial;
  color: #fff !important;
  display: block;
  margin-top: 5px;
}
.post-source .full-url > div span {
  color: rgba(255, 255, 255, 0.8);
  font: normal 10px/15px Arial;
}
.post-source .full-url .text {
  float: left;
}
.post-source .full-url .icon-copy {
  float: right;
  cursor: pointer;
}
.post-source .full-url .icon-copy:hover {
  color: #fff;
}
.post-source .full-url::before {
  content: "";
  display: inline-block;
  position: absolute;
  border: 10px solid transparent;
  border-top-color: #333;
  bottom: -20px;
  right: 25px;
}
.post-source .full-url #copyURL {
  font-size: 1px;
  opacity: 0;
  position: absolute;
  color: transparent;
  background-color: transparent;
}

.clearfix::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

.tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.tags .tag-link {
  display: inline-block;
  padding: 0 8px;
  line-height: 30px;
  background-color: #e5e9ec;
  font-size: 14px;
  margin-right: 6px;
  margin-bottom: 10px;
  border-radius: 3px;
}

.print-box .detail-content {
  padding-left: 0;
}
.print-box .detail-content p {
  text-align: justify;
  word-break: break-word;
}
.print-box .print-btn {
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  background-color: #9b9b9b;
}
.print-box .print-btn:hover {
  background-color: #555;
}

.logo-print img {
  width: 230px;
  height: auto;
}

@media print {
  body, html {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    margin-left: 20mm;
    visibility: hidden;
  }

  .print-box__container {
    visibility: visible;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    width: calc(100% - 20mm);
    max-width: 100%;
    page-break-inside: avoid;
    overflow: visible;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .print-btn {
    display: none;
    opacity: 0;
    visibility: hidden;
  }

  .detail-content {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .detail-content, .expNoEdit, .expEdit {
    page-break-inside: avoid;
  }

  h1, h2, p, figure {
    page-break-inside: avoid;
  }
}
#back-top {
  position: fixed;
  right: 1rem;
  bottom: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  background: #ef172c;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  user-select: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.footer-top {
  border-top: 1px solid #e1e1e1;
}
.footer-bot__left {
  max-width: 247px;
}
.footer-bot__left .text {
  font-size: 12px;
  margin-top: 20px;
  line-height: 20px;
}
.footer-bot__right {
  max-width: 550px;
  padding: 0 30px;
  border-left: 1px dotted #666;
}
.footer-bot__right .text {
  font-size: 12px;
  line-height: 28px;
  color: #666;
}
.footer-bot__right .text:first-child {
  text-transform: uppercase;
  color: #333;
  font-weight: 700;
}

@media (max-width: 1536px) {
  .d-2xl-none {
    display: none;
  }

  .d-2xl-block {
    display: block;
  }

  .d-2xl-flex {
    display: flex;
  }

  .d-2xl-grid {
    display: grid;
  }
}
@media (max-width: 1280px) {
  .d-xl-none {
    display: none;
  }

  .d-xl-block {
    display: block;
  }

  .d-xl-flex {
    display: flex;
  }

  .d-xl-grid {
    display: grid;
  }
}
@media (max-width: 1024px) {
  .d-lg-none {
    display: none;
  }

  .d-lg-block {
    display: block;
  }

  .d-lg-flex {
    display: flex;
  }

  .d-lg-grid {
    display: grid;
  }
}
@media (max-width: 992px) {
  .d-md-none {
    display: none;
  }

  .d-md-block {
    display: block;
  }

  .d-md-flex {
    display: flex;
  }

  .d-md-grid {
    display: grid;
  }

  .header-center .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px 0 25px;
  }
  .header-center .news-top {
    max-width: 100%;
    padding-left: 0;
  }
  .header-center .news-top__title {
    margin-left: 0;
  }
  .header-center .news-top__list {
    direction: ltr;
    padding-right: 20px;
    padding-left: 0;
  }

  .main {
    background-color: #fff;
  }

  .ads-center {
    border-bottom: none;
  }

  .ads-right img {
    margin: auto;
  }

  .w-wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  .box-primary .box-container {
    display: block;
  }
  .box-primary .left {
    width: 100%;
  }

  .main-secondary {
    margin: auto;
  }
  .main-secondary__top .article-large .swiper-horizontal > .swiper-pagination-bullets, .main-secondary__top .article-large .swiper-pagination-bullets.swiper-pagination-horizontal, .main-secondary__top .article-large .swiper-pagination-custom, .main-secondary__top .article-large .swiper-pagination-fraction {
    bottom: auto;
    top: 60%;
    left: auto;
    width: auto;
    right: 20px;
  }
  .main-secondary__top .article-large .swiper-pagination-bullet {
    background: #e1e1e1;
    opacity: 1;
  }
  .main-secondary__top .article-large .swiper-pagination-bullet-active {
    background: #ef172c;
  }
  .main-secondary__top .article-small .article:nth-child(even) {
    padding-left: 8px;
  }
  .main-secondary__top .article-small .article:nth-child(odd) {
    padding-right: 8px;
  }

  .heading-one {
    margin-bottom: 10px;
  }

  .heading-two {
    font-size: 16px;
  }

  .many-readers__left .article {
    padding: 15px;
  }
  .many-readers__left .article-title {
    font-size: 16px;
  }
  .many-readers__right {
    margin-top: 20px;
  }

  .box-four__content .widget-content.scroll {
    max-height: 100%;
  }

  .box-focus__container .swiper-horizontal > .swiper-pagination-bullets, .box-focus__container .swiper-pagination-bullets.swiper-pagination-horizontal, .box-focus__container .swiper-pagination-custom, .box-focus__container .swiper-pagination-fraction {
    top: -30px;
  }

  .breadcrumb {
    background-color: #ededed;
  }

  .detail-primary {
    max-width: 500px;
    margin: auto;
  }
  .detail-primary__container {
    display: block;
  }
  .detail-primary__left {
    width: 100%;
    padding-right: 0;
    border-right: 0;
  }
  .detail-primary__right {
    width: 100%;
    display: none;
  }

  .detail-content {
    padding-left: 0;
    width: 100%;
    max-width: 100%;
  }

  .same-category .article-small {
    margin: -8px;
  }
  .same-category .article-small .article {
    padding: 8px;
  }
}
@media (max-width: 767px) {
  .d-sm-none {
    display: none;
  }

  .d-sm-block {
    display: block;
  }

  .d-sm-flex {
    display: flex;
  }

  .d-sm-grid {
    display: grid;
  }

  .main-secondary__top .article-large {
    margin-left: -15px;
    margin-right: -15px;
  }
  .main-secondary__top .article-large .swiper-horizontal > .swiper-pagination-bullets, .main-secondary__top .article-large .swiper-pagination-bullets.swiper-pagination-horizontal, .main-secondary__top .article-large .swiper-pagination-custom, .main-secondary__top .article-large .swiper-pagination-fraction {
    top: 46%;
  }
  .main-secondary__top .article-large .article-content {
    padding-left: 15px;
    padding-right: 15px;
  }

  .multimedia-page__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .topic-page__heading {
    font-size: 18px;
  }
  .topic-page__list .article-title {
    margin-top: 0;
    font-size: 16px;
  }

  .search-page__list .article-content {
    padding-left: 15px;
  }
  .search-page__list .article-title {
    font-size: 16px;
  }

  .detail-title {
    font-size: 28px;
  }

  .detail-sapo p {
    font-size: 16px;
  }

  .detail-content figure {
    margin-bottom: 15px;
  }
  .detail-content figure figcaption {
    padding: 8px 10px;
    font-size: 14px;
  }
  .detail-content > h2 {
    font-size: 26px;
  }
  .detail-content > h3 {
    font-size: 24px;
  }
  .detail-content > h4 {
    font-size: 22px;
  }
  .detail-content > h5 {
    font-size: 20px;
  }
  .detail-content > h6 {
    font-size: 18px;
  }

  .footer-bot__left {
    max-width: 100%;
    width: 100%;
  }
  .footer-bot__left .logo-img {
    width: 124px;
    height: auto;
  }
  .footer-bot__left .text {
    color: #666;
  }
  .footer-bot__right {
    max-width: 100%;
    padding: 5px 0;
    border-left: none;
  }
  .footer-bot__right .text:first-child {
    text-transform: none;
    color: #666;
    font-weight: normal;
  }
}

/*# sourceMappingURL=style.css.map */
