.breadcrumb {
    margin-bottom: 2px;
    border-bottom: 1px solid #e1e1e1;
    background-color: #f4f4f4;
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    white-space: nowrap;

    &-link {
        position: relative;
        display: inline-block;
        padding: 10px;

        &::before {
            content: '/';
            position: absolute;
            right: 0;
        }

    }
    &-item {
        &:first-child {
            .breadcrumb-link {
                margin-left: -10px;
            }
        }
        &:last-child {
            .breadcrumb-link {
                &::before {
                    content: none;
                }
            }
        }
        
    }
}

// multimedia
.multimedia-page {
    &__container {
        margin-left: -10px;
        margin-right: -10px;
        margin-top: -10px;
        .article {
            padding: 10px;

            .image-wrapper {
                &::before {
                    content: '';
                    background-image: url('../images/icon-play.png');
                    background-repeat: no-repeat;
                    background-size: contain;
                    position: absolute;
                    width: 24px;
                    height: 30px;
                    bottom: 5px;
                    left: 10px;
                    z-index: 2;
                }
            }
        }
    }
}

// topic
.topic-page {
    &__list {
        .article {
            background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #ccc), color-stop(50%, #ffffff00)) 0 0 / 1px 4px repeat-y;
            background: linear-gradient(to bottom, #ccc 50%, #ffffff00 50%) 0 0 / 1px 4px repeat-y;
            position: relative;
            padding-left: 20px;
            padding-bottom: 22px;

            &:last-child {
                background: 0 0;
            }

            &::before {
                content: '';
                display: inline-block;
                width: 10px;
                height: 10px;
                background-color: #0372aa;
                position: absolute;
                top: -5px;
                left: -4.5px;
                border-radius: 50%;
            }
            &::after {
                content: '';
                display: block;
                height: 0;
                clear: both;
            }
        }
    }
}