#back-top {
    position: fixed;
    right: 1rem;
    bottom: 2rem;
    width: 2.5rem;
    height: 2.5rem;
    background: #ef172c;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    user-select: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.footer {
    &-top {
        border-top: 1px solid #e1e1e1;
    }

    &-bot {
        &__left {
            max-width: 247px;
            .text {
                font-size: 12px;
                margin-top: 20px;
                line-height: 20px;
            }

        }
        &__right {
            max-width: 550px;
            padding: 0 30px;
            border-left: 1px dotted #666;

            .text {
                font-size: 12px;
                line-height: 28px;
                color: #666;

                &:first-child {
                    text-transform: uppercase;
                    color: #333;
                    font-weight: 700;
                }
            }
        }
    }
}
